0.0.0.0:2020

gzip
log access.log
browse /upstream browse-template.html
ext .html .md .txt

git git@www.penflip.com:0atman/upstream.git upstream {
    interval 5
    key ~/.ssh/id_rsa
}

markdown /upstream {
    template /article-template.html
}
