/*<label for="sn-demo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="sn-demo" class="margin-toggle"/>


code::before {
  content: label;
  class: "margin-toggle sidenote-number";
}
/*
span.sidenote::before {
  content: input;
  type: "checkbox"
  class: "margin-toggle";
}
*/
